
body {
	margin: 0;
}

#menu{
	width: 100%;
	height: 800px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#menuContainer {
	position: relative;
	width: 100%;
	height: 2800px;
	margin: 0 auto;
	margin-top: 30px;
}

#banner{
	width: 100%;
	height: 50px;
	background-color: Green;
	margin: auto;
}

#one{
	width: 1060px;
	height: 4000px;
	background-color: black;
	position: absolute;
	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    top:30px;
}

#homepic {
	width:50px; 
	height:50px; 
	margin-left:20px; 
	margin-top:8px;
}

#menupic {
	position: absolute;
	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	height:70px; 
	width:300px;
}

#vine {
	width: 300px;
	height: 250px; 
	position: absolute;
}

p {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    font-family: 'Aclonica', sans-serif;
}

h5{
	color: SpringGreen;
	padding-left: 70px;
	padding-right: 20px;
	word-wrap: break-word;
	left: 200px;
}

h4{
	color: green;
	padding-left: 70px;
	padding-right: 70px;
}

h3{
	color: white;
	padding-left: 70px; 
	font-family: 'Aclonica', sans-serif;
}

h2{
	color: white;
	text-align: center;
	font-size: 25px;
	font-family: 'Aclonica', sans-serif;

	padding-top: 10px;
}
#info{
	width: 100%;
	height: 300px;
	background-color: black;
 	margin-top: 1820px;
}

li{
	float: left;
	text-decoration: none;
	display: inline-block;
	margin-left: 200px;
	font-size: 20px;
	padding: 12px 15px 2px 2px;
	font-family: Fredericka the Great, Cursive;
}

li a{
	color: red;
}

ul{
	margin: auto;
	padding: 0;
	margin-left: 20px;
	overflow: hidden;

}

li a:hover {
	background-color: #999;
	padding: 10px 5px 10px 5px;
}

a:visited{
	color: white;
}

.top-slides {
	position: relative;
	width: 100%;
}

.slideimages {
	height: 550px;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}